.header{
    position: relative;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0;
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
}

@media (min-width: 1300px) {
    .header{
        display: none;
    }
}

.header__logo-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__title{
    color: #000;
font-family: "Poppins", sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.26px;
margin-left: 5px;
}

.header__subtitle{
    color: #838383;
font-family: "Poppins", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.1px;
}

.header__icon{
    height: 37px;
width: 37px;
}


.sidebar {
    position: fixed;
    left: -300px; /* Начальное положение за пределами экрана */
    top: 0;
    bottom: 0;
   
  }


